body {
  background-color: rgb(141, 201, 201);
  overflow-x: scroll;
  width: 1500px; 
  height: auto;
}

.periodictable {
  text-align: center;
}

.title {
  font-family: Algerian, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  color: rgb(22, 8, 84);
}

.subtitle {
  font-size: 25px;
  font-weight: Normal;
  font-style: italic;
  text-align: center;
  color: rgb(130, 19, 185);
}

.openButton,
.openButtons {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px; 
  height: 50px; 
}

.blank-image {
  background-color: transparent;
  border: none;
  width: 62px; 
  height: 50px; 
}

.SpecialImages {
  width: 50px;
  height: 50px;
}


@media only screen and (min-width: 1024px) {
  body {
      width: 1500px; 
  }
  .blank-image {
      width: 62px; 
  }
}


@media only screen and (max-width: 767px) {
  body {
      width: 1200px; 
  }
  .blank-image {
      width: 72px; 
  }
}