body {
    background-color: rgb(141, 201, 201);
  }
  
  .periodictable {
    text-align: center; /*this idea is from ChatGPT*/
  }
  .title{
    font-family: Algerian, sans-serif; /* Font-family method by ChatGPT */
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color:rgb(22, 8, 84)
  }
  .subtitle{
    font-size: 25px;
    font-weight: Normal;
    font-style: italic; /* Font-style method by ChatGPT */
    text-align: center;
    color:rgb(130, 19, 185)
  }
  .openButton {
    background-color: transparent;
    border: none;
    cursor: pointer; /* line 23-26 by ChatGPT for the elements of the periodic table. The idea is also from ChatGPT */
  }
  .openButtons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 67px;
    height: 67px;
  }
  .blank-image {
    width: 79px;
    height: 67px;
  }
  .SpecialImages {
    background-color: transparent;
    border: none;
    width: 67px;
    height: 67px;
  }